<h1>Nearest 10 Stations within 6 miles of <%= params[:q] %></h1>
<table>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Fuel Types</th>
    <th>Distance</th>
    <th>Access Times</th>
  </thead>
  <tbody>
    <% @results.each do |station| %>
      <tr>
        <td>station.</td>
      </tr>
    <% end %>
  </tbody>
</table>
